* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #F4F4F4;
}
a {
  color: #333;
  text-decoration: none;
}
.app{
  display: flex;
}

.content {
  width: 85em;
  margin-left: 2em;
  padding:10px;
}

.menu-content{
  width: 5.5em;
  height: 650px;
  background-color: #E4E4E4;
  margin:50px 10px 50px;
  border-radius: 40px;
  box-shadow: 6px 6px 5px #B3B3B3;
  justify-content: center;
}

.iconStyle{
  color: #0F053C; 
  font-size: 3em;
}
.btn-content-todo{
  height: 55px;
  margin-top: 30px;
}

.btn-content-todo:hover{
  background-color: #ADA5CF;
}
.btn-content-fav{
  height: 55px;
  
}

.btn-content-fav:hover{
  background-color: #ADA5CF;
}
.btn-content-date{
  height: 55px;
}

.btn-content-date:hover{
  background-color: #ADA5CF;
}
.btn-content-person{
  height: 55px;
}

.btn-content-person:hover{
  background-color: #ADA5CF;
}
.btn-content-home{
  height: 55px;
}

.btn-content-home:hover{
  background-color: #ADA5CF;

}
button:focus {
  outline:0;
}
input:focus {
  outline:0;
}
.btn-todo{
  margin-top: 0.6em;
  margin-left:1.7em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-favorite{
  margin-top: 0.6em;
  margin-left:1.7em;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
.btn-date{
  margin-top: 0.6em;
  margin-left:1.7em;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
.btn-person{
  margin-top: 0.6em;
  margin-left:1.7em;
  border: none;
  background-color: transparent;
  cursor: pointer;

}
.btn-home{
  margin-top: 0.6em;
  margin-left:1.7em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search{
  padding:0.5em;
  width: 100%;
  margin-bottom: 10px;  
}

.search-icon{
  position: absolute;
  margin-left: 50em;
  margin-top:0.5em;
}
.input-search{
  margin-left:20em;
  border:none;
  width: 43em;
  height: 35px;
  border-radius: 15px;
  padding: 15px
}

.notes{
  margin-top:50px ;
  width: 83em;
}

.add-note{
  height:80px;
  width: 83em;
  background-color: white;
  position: fixed;
  bottom: 0px;
}

.search-icon{
  position: absolute;
  margin-right: 50px;
  z-index: 10px;
}
.btn {
  display: inline-block;
  border: none;
  background: #0F053C;
  color: #fff;
  padding: 7px 20px;
  height: 35px;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

.btn:hover {
  background: #666;
}

.input-add{
  flex: 20;
  padding: 5px;
  border-radius: 20px 0 0 20px;
  border:none;
  background-color: #0F053C;
  opacity: 0.5;
}
::placeholder{
  color:grey;
  opacity: 1;
}

/*TODO ITEM*/
.btn-del{
  border:none;
  background-color: transparent;
}

